<!-- 這是搜尋欄 -->
<div class="search-container">
    <h2>{{ title }}</h2>
    <p>{{ description }}</p>
    <div class="search-input-wrapper">
        <svg class="search-icon" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><circle cx="11" cy="11" r="8"></circle><line x1="21" y1="21" x2="16.65" y2="16.65"></line></svg>
        <input type="search" placeholder="搜尋物品名稱或標籤...">
    </div>
</div>